@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

:root
{
  --bg-black: #222020;
  --text-grey: #858789;
  --text-green: #219653;
  --light-1: #f3e9dc;
}

* 
{
  padding: 0px;
  margin: 0px;
  border: 0px;  
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol, li
{
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
